.history {
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    border: none;
    background-color: #0dd10d;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tabs button.active {
    background-color: #007bff;
    color: white;
  }
  
  .tabs button:hover {
    background-color: #007bff;
    color: white;
  }
  
  .tab-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .product-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

  }

  .otp {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #f44336; /* You can choose any color */
  }

  .no-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    height: 200px;
    font-size: 20px;
    color: #007bff;
  }
  